<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="text-center pt-5 text-info">
        <h1>{{datve}}</h1>
    </div>
    <div class="container mt-5">

        <div class="shadow-lg p-3 mb-5 bg-body rounded row align-items-center">
            <!-- form -->
            <div class="col-xl-6">
                <form>
                    <div class="mb-1 ">
                        <label for="exampleInputEmail1 " class="form-label ">Họ và tên</label>
                        <input type="text " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">
                    </div>
                    <div class="mb-1 ">
                        <label for="exampleInputEmail1 " class="form-label ">Số cccd</label>
                        <input type="text " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">
                    </div>
                    <div class="mb-1 ">
                        <label for="exampleInputEmail1 " class="form-label ">Email</label>
                        <input type="text " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">
                    </div>
                    <div class="mb-1 ">
                        <label for="exampleInputEmail1 " class="form-label ">Giới tính</label>
                        <select class="form-select " aria-label="Default select example ">
                            <option selected>Nam</option>
                            <option value="1 ">Nữ</option>
                          </select>
                    </div>
                    <div class="mb-1 ">
                        <label for="exampleInputEmail1 " class="form-label ">Số điện thoại</label>
                        <input type="text " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">
                    </div>
                    <div class="mb-3 ">
                        <label for="exampleInputEmail1 " class="form-label ">Chọn chuyến bay</label>
                        <select class="form-select " aria-label="Default select example ">
                            <option selected>-- Chọn ---</option>
                            <option value="1 ">aaaa</option>
                            <option value="2 ">bbbb</option>
                            <option value="3 ">cccc</option>
                          </select>
                    </div>
                    <div class="mb-3 ">
                        <label for="exampleInputEmail1 " class="form-label ">Ngày sinh</label>
                        <input type="date " class="form-control" id="exampleInputEmail1 " aria-describedby="emailHelp ">
                    </div>
                    <div class="mb-3 ">
                        <label for="exampleInputEmail1 " class="form-label ">Hành lí</label>
                        <input type="text " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp ">
                    </div>
                    <div class="mb-3 ">
                        <label for="exampleInputEmail1 " class="form-label ">hình thức thanh toán</label>
                        <select class="form-select " aria-label="Default select example ">
                            <option selected>-- Chọn ---</option>
                            <option value="1 ">momo</option>
                            <option value="2 ">thẻ tín dụng</option>
                            <option value="3 ">thẻ ngân hàng</option>
                          </select>
                    </div>
                    <div class="text-center ">
                        <button type="submit " class="btn btn-primary ">Đặt vé</button>
                    </div>
                </form>
            </div>
            <!-- image -->
            <div class="col-xl-6">
                <img class="img-fluid object-fit" style="height: 700px;" src="https://namthanh.vn/Images/Uploadimages/quy-trinh-dat-ve-may-bay-va-thanh-toan-nam-thanh-20.PNG " alt=" ">
            </div>
        </div>
    </div>
</body>

</html>