<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- nhúng thư viện angular -->
    <script src="./libs/angular.min.js"></script>
    <title>AngularJS</title>
</head>
<!-- để khởi tạo chương trình dầu tiên chúng ta cần phải quy định 
phạm vi sử dụng AngularJs (quy định bằng ng-app) -->

<body ng-app="myApp">
    <!-- vùng truy cập sử dụng controller -->
    <!-- <div ng-controller="demo_controller">
        <h1>{{test}}</h1>
    </div>
    <div ng-controller="thongTinSV">
        <h1 style="color: red;">họ và tên: {{hoten}}</h1>
        <h1 style="color: red;">lớp: {{lop}}</h1>
        <h1 style="color: red;">chuyên ngành: {{chuyenNganh}}</h1>
    </div> -->

    <div ng-controller="infoController">
        <h1 style="color: red;">{{xinchao}}</h1>
        <p>{{phones[0]}}</p>
        <p>{{phones[1]}}</p>
        <p>{{phones[2]}}</p>
        <p>{{phones[3]}}</p>

        <table border="1">
            <thead>
                <tr>
                    <th>họ và tên </th>
                    <th>năm sinh</th>
                    <th>ngày chia tay</th>
                    <th>số điện thoại</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in nyc">
                <tr>
                    <td>{{item.name}}</td>
                    <td href="#" ng-mouseenter="bai(item.date)">{{item.date}}</td>
                    <td>{{item.datelove}}</td>
                    <!-- ng-bin gán giá trị của dữ liệu vào nội dung cảu phần tử HTML -->
                    <td ng-bind="item.phone"></td>
                    <td><button ng-click="acccc(item.name)">xin chào</button></td>

                </tr>

            </tbody>
        </table>
        <!-- model thay đổi trực tiếp dữ liệu -->
        <input type="text" ng-model="xinchao" name="" id="">
        <input type="text" ng-model="nyc[0].name" name="" id="">
        <!-- sự kiện -->
        <button ng-click="tenHam()">aaaa</button>
        <a href="#" ng-mouseenter="taget()">đưa tay đây nào</a>
        <br>
        <h3>thêm thông tin</h3>

        <form ng-submit="themMoi()">
            <label for="">tên</label>
            <input type="text" name="name" ng-model="name">
            <label for="">địa chỉ</label>
            <input type="text" name="address" ng-model="address">
            <button type="submit">thêm mới</button>
        </form>

    </div>
    <br>
    <div ng-controller="cong2so">
        <form ng-submit="sum()">
            <label for="">tên</label>
            <input type="text" name="number1" ng-model="number1">
            <label for="">địa chỉ</label>
            <input type="text" name="number2" ng-model="number2">
            <button type="submit">thêm mới</button>
        </form>
    </div>
    <br>
    <div ng-controller="dangNhap">
        <form ng-submit="nhap()">
            <label for="">name</label>
            <input type="text" name="ten" ng-model="ten">
            <label for="">password</label>
            <input type="text" name="password" ng-model="password">
            <button type="submit">thêm mới</button>
        </form>

        <button ng-click="count = count + 1" ng-init="count = 0">cong them 1</button>
        <p ng-if="bao(count)"></p>
        <p>giá trị = {{count}}</p>
    </div>
</body>
<!-- nhúng trực tiếp -->
<!-- <script>
    // khởi tạo module
    var myApp = angular.module('myApp', []); // truyền vào 2 tham số: tên của ng-app, thành phần phụ thuộc
    //  khởi tạo đăng kí cho controller
    // tên_ng-app.controller('tên của controller', tên hàm )
    myApp.controller('demo_controller', sayHello);

    function sayHello($scope) { // bắt buộc phải có để render dữ liệu
        //  khai báo biến
        $scope.test = "xin chào cục cưng"
    }
    myApp.controller('thongTinSV', thongTinSV)

    function thongTinSV($scope) {
        $scope.hoten = 'Duong Van Dinh'
        $scope.lop = '123'
        $scope.chuyenNganh = 'lap trinh website'

    }
</script> -->
<script src="js/app.js"></script>

</html>